

<!-- <h1 [class]="class_bind">welcome</h1>


<button class="btn btn-primary" [disabled]="btntoggle"   (click)="ontoggle()">Toggle</button>


<div [ngStyle]="{'color':'red'}">welcome mathi </div>


<div [ngClass]="'green'">ghUBBBUAXBXBJAXXAXAA
    XAXHJXJXAXHJ
</div>  -->

<!-- <button class="btn btn-success" (click)="gotohello()">go to hello</button> -->

<div>
    <p>counter={{ _maths.counter}}</p>
</div>


