

  <div class="container-fluid">
    <div class="row d-flux justify-content-center">
        <div class="col-md-4 pt-5 mt-5">

            <form class="border p-5" [formGroup]="loginform">

                  <div class="text-center">
                    <h3>LOGIN FORM</h3>
                  </div>

                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Email address</label>
                  <input type="email" class="form-control" [ngClass]="{'is-invalid':submitted && f.username.errors}" formControlName="username" id="exampleInputEmail1" aria-describedby="emailHelp">
                  <div class="invalid-feedback" *ngIf="submitted && f.username.errors">
                    <div *ngif="f.username.errors required">email is required</div>
                    <div *ngIf="f.username.errors email">invalid email</div>
                  </div>
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                  <input type="password" class="form-control"  [ngClass]="{'is-invalid':submitted && f.password.errors}" formControlName="password"  id="exampleInputPassword1">
                  <div class="invalid-feedback">
                    <div>password is required</div>
                    
                  </div>
                </div>
                
                <button type="submit" class="btn btn-primary" (click)="loginFormSubmit()">Submit</button>
              </form>

        </div>
    </div>
  </div>