<p>random number generated

    {{randomnumber || 'not yet generated'}}
</p>




<!-- <p>app works</p> -->
 <!-- <header>
    <div class="container bg-danger">
        <ul type="none"  class="hi">
            <li class="mx-3 px-5 py-3" routerLinkActive="active">
                <a [routerLink]="['']">home</a>
            </li>
            <li class="mx-3 px-5 py-3">
                <a [routerLink]="['hello']">all course</a>
            </li>
            <li class="mx-3 px-5 py-3">
                <a [routerLink]="['welcome']">pages</a>
            </li>
           
        </ul>
    </div>
 </header> -->




 
   <!-- <h1>{{studName}}</h1>

<input [(ngModel)]="studName" placeholder="enter your name" clas="form-control">

<button class="btn btn-primary">welcome</button> -->


<!-- <div *ngIf="user;then pass;else fail">
    hi
   </div>
    <ng-template #pass>welcome</ng-template>
    <ng-template #fail>hello</ng-template>h -->

    <!-- <div *ngIf="user;then pass;else fail">
        <div>hi</div>>
       </div>
        <ng-template #pass>welcome</ng-template>
        <ng-template #fail>hello</ng-template>h -->
       
        <!-- <input type="number" [(ngModel)]="num" placeholder="enter the number">

        <div [ngSwitch]="num">

          <div *ngSwitchCase="1">one</div>
          <div *ngSwitchCase="2">two</div>
          
          <div *ngSwitchCase="2">three</div>
          <div *ngSwitchCase="3">three</div>
          <div *ngSwitchCase="4">five</div>



        </div> -->

       <!-- <div *ngFor="let letter of letters">

         {{letter.name}}
         {{letter.age}}


       </div> -->

       <!-- <div *ngIf="user ;else fail">
        <div>hi</div>
       </div>
       <ng-template #fail>hello</ng-template> -->

<!-- {{num}}
{{name}} -->


 <!-- <input type="text"  (input)="onsubmit($event)">
<br>

{{result}}
     -->
    
 <!-- <router-outlet></router-outlet>   -->

 <!-- <p>{{name}}</p>

<br>
<button class="btn btn-primary" (click)="click_event()">click</button>

<br> -->
<!-- <input type="text" value="name">

<input type="text"  [(ngModel)]="name"> -->

<!-- <br>
<br>
 <p [class]="class_bind"> I AM MATHI</p>

  <br>
  <br>
  <p [style.color]="class_bind"> I AAM STUDYING</p>


  <br><br>
  <p>today-{{today | date:'short'}}</p>
  <br>
  <p>{{name|uppercase}}</p>
  <p>{{name|lowercase}}</p>
  <p>{{price|currency}}</p>

  <p>{{decimal|number}}</p>
  
  
<button class=" btn btn-primary">click</button> 
 -->

<!-- <app-hello></app-hello>
<app-hi></app-hi>
<app-test [subjectchild]="subjectparent"
(numbergenerate)="onnumbergenerate($event)"

></app-test>
 -->
<app-observe></app-observe>