<!-- <p>test works!</p>


<div>
    <p>counter={{ _maths.counter}}</p>
</div> -->
<!-- <div>
    <tr *ngFor="let subject of subjectchild">
       <td>{{subject.id}}</td>
       <td>{{subject.name}}</td>

    </tr>
</div>

<br>
<button class="btn btn-warning" (click)="generatenumber()"> fire</button> -->